<div class="modal" id="appinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <b class="modal-title" id="myModalLabel"> Dies ist ein Betrachter für die Daten des Argo Programms.</b>
            </div>
            <div class="modal-body">
                <p>
                    Jeder Punkt auf der Karte ist eine Messboje. Ein Klick auf die Messstation zeigt die gemessenen
                    Daten an.
                </p>

                <p>
                    Bei Fragen oder Anmerkungen bitte eine email an: <a href="mailto:sebsch@geblubber.org">sebsch@geblubber.org</a>
                </p>

                <p>
                    Weitere Informationen zum Argo-Programm findest du <a href="http://www.argo.ucsd.edu/">hier</a>.
                </p>

            </div>

        </div>
    </div>
</div>
