{% if data %}

    <p>
        Dies ist Argo Nummer {{ data.identifier }}.
    </p>


    <p>
        Diese Messstation wurde im Rahmen des Forschungsprojektes {{ data.project_name }}
        installiert. Sie gehört {{ data.float_owner }} und misst seit dem {{ data.launch_date }}.
    </p>

    {% if not data.valid %}
        <div class="alert alert-warning">
            <strong>Warnung!</strong> Einige Werte scheinen außerhalb der erlaubten Wertebereiche zu liegen.
        </div>
    {% endif %}

{% endif %}