{% if data %}

    <table class="table table-hover">
        <tbody>

        <tr>
            <td>Messstation</td>
            <td>{{ data.identifier }}</td>
        </tr>

        <tr>
            <td>Forschungsprojekt</td>
            <td>{{ data.project_name }}</td>
        </tr>

        <tr>
            <td>Projektleitung</td>
            <td>{{ data.float_owner }}</td>
        </tr>

        <tr>
            <td>Startdatum</td>
            <td>{{ data.launch_date }}</td>
        </tr>

        <tr>
            <td>Zuletzt gesehen</td>
            <td>{{ data.last_seen }}</td>
        </tr>
        </tbody>
    </table>

    {% if not data.valid %}

        <div class="alert alert-warning">
            <strong>Warnung!</strong> Einige Werte scheinen außerhalb der erlaubten Wertebereiche zu liegen.
        </div>

    {% endif %}

{% endif %}