<div class="container">
    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <div class="col-md-6" data-toggle="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <div class="navbar-brand">ArgoData</div>
                        </a>
                        <ul class="dropdown-menu col-xs-12" style="min-width: 500px">
                            {% include '_argo_info.html' %}
                        </ul>
                    </div>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <a class="navbar-brand" rel="home" href="#" title="ArgoData">
                        <img src="{{ url_for('static', filename='Q11_HTW_Berlin_Logo_quer_pos_GRUEN_RGB.png') }}"
                             width="100px">
                    </a>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div class="navbar-offset"></div>